#top_bar
{
    text-align: right;
    font-size: 12px;
}

#money_dog_header
{
    padding-top: 20px;
    text-align: center;
    font-size: 48px;
}


#menu a:link       { padding:5px; text-decoration: none; color:#333;}
#menu a:visited { padding:5px; text-decoration: none; color:#333;}
#menu a:active   { padding:5px; text-decoration: none; color:#333;}
#menu a:hover     { padding:5px; text-decoration: none; font-weight:bold; color:#EEE; background-color:#666; }


a:link {text-decoration: none; color:#006;}
a:visited {text-decoration: none; color:#006;}
a:active {text-decoration: none; color:#006;}
a:hover {text-decoration: underline; color: blue;}

#select_year{  font-size:16px; margin-bottom: 5px;}
#select_month{ font-size:16px; margin-bottom: 5px; }

#m_arrow_next{     position: relative; top: 5px; }
#m_arrow_previous{ position: relative; top: 5px; }

.add
{
	text-align: center;
	/*display: none;*/
}

/********************  <Item List>  *********************/
#trade_list
{
    width: 800px;
    margin-left:  auto;
    margin-right: auto;
	text-align: center;
	margin-top: 0px;
}

/********************  </Item List>  *********************/



#menu
{
    width: 300px;
    height: 50px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
}

.MenuBrowseType
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#add_input_btn
{
    margin:0px auto;
    text-align: center;
}

/*////////////////////////////////////////////////////*/
#imgLoader
{
    position:fixed; 
    z-index: 9999;
    top:50%;
    left:50%;
    
    background-color:#fff;
    margin-left: -25px;
    margin-top:  -12.5px;
    width:  80px;
    height: 50px;
    border: #ccc 2px dotted;
}

#_imgLoader
{
    position:fixed; 
    top:50%;
    left:50%;
}


/*////////////////////////////////////////////////////*/
.ListTableTH_header
{
	text-align: center;
	background-color:#abccff;
	color:#00f;
}

.ListTableTH_hover
{
	background-color:#EEDC82;
}

.ListTableTH_even
{
	background-color:#d5d5d5;
}

.ListTableTH_odd
{
	background-color:#e5e5e5;
}

.ListTableTH_time
{
    color: #333;
    width:160px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: center;
}
.ListTableTH_in_or_out
{
    color: #333;
    width: 100px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: center;
}

.ListTableTH_price
{
    width:60px;
	text-align: right;
	padding-right: 10px;
    font-family: Times New Roman;
}

.ListTableTH_category
{
    /*width:120px;*/
	text-align: left;
	padding-left: 10px;
}

.ListTableTH_description
{
    width:350px;
	text-align: left;
	padding-left: 10px;
}



/********************  <Analytics List>  *********************/
.AnalyticsTable_type
{
    width:80px;
    text-align: center;
    margin-top:10px;
    margin-bottom:0px;
}

.AnalyticsTable_value
{
    width:70px;
	text-align: right;
	padding-right: 10px;
    
    font-family: times new roman;
    font-weight: bold;
}

.AnalyticsTable_index
{
    width:40px;
    text-align: center;
    font-weight: bold;
}

.AnalyticsTable_category
{
    width:120px;
    margin-top:10px;
    margin-bottom:0px;
    text-align: left;
    padding-left: 15px;
}

.AnalyticsTable_price
{
    width:70px;
	text-align: right;
	padding-right: 10px;
    
    font-family: times new roman;
    font-weight: bold;
}

/********************  <Add>  *********************/
.add_category
{
}

.add_price
{
    width: 70px;
}

.add_description
{
    width: 275px;
}

.add_time
{
}

.add_warning
{
    font-size: 10px;
    color: red;
}