<!DOCTYPE html>
<html lang="en-us" ng-app="moneydogApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoneyDog</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/aj/lib/angular-datepicker.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MoneyDog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if page=='IN' %}class="active"{% endif %}><a href="/list/trade/in">In</a></li>
            <li {% if page=='OUT' %}class="active"{% endif %}><a href="/list/trade/out">Out</a></li>
            <li {% if page=='CATEGORY_IN' %}class="active"{% endif %}><a href="/list/category/in">Category In</a></li>
            <li {% if page=='CATEGORY_OUT' %}class="active"{% endif %}><a href="/list/category/out">Category Out</a></li>
            <li {% if page=='ANALYTICS_IN' %}class="active"{% endif %}><a href="/analytics/trade/year/in">Year IN</a></li>
            <li {% if page=='ANALYTICS_OUT' %}class="active"{% endif %}><a href="/analytics/trade/year/out">Year OUT</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    New <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/add/category">New Category</a></li>
                  <li><a href="/add/trade/in">New Trade (IN)</a></li>
                  <li><a href="/add/trade/out">New Trade (OUT)</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Admin <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/push_ancient_data">Push Ancient Data</a></li>
                  <li><a href="/admin/dump">Dump DB</a></li>
                </ul>
            </li>
          </ul>

          <form action="/search/" method="GET" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" name="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{g.logout_url}}">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="/static/aj/lib/angular-datepicker.min.js"></script>
    <script src="/static/aj/app.js"></script>
    <script src="/static/aj/services.js"></script>
    {% block angular_controller %} {% endblock %}

    {% block js_area %}
    {% endblock %}
</body>
</html>

