{% extends "_base.html" %}

{% block angular_controller %}
  {% include "edit_trade.controller.js" %}
{% endblock %}

{% block content %}
    <div class="col-md-4"></div>

    <div class="col-md-4" ng-controller="Controller as vm">

        <form action="/edit/trade/{{item.key.urlsafe()}}" method="POST" ng-submit="vm.submit()">
            <div class="form-group">
                <label>收支</label>
                <select name="category" class="form-control" disabled>
                    <option value="IN" {% if c_type =='IN' %}selected{% endif %}>收入</option>
                    <option value="OUT" {% if c_type =='OUT' %}selected{% endif %}>支出</option>
                </select>
            </div>
            <div class="form-group">
                <label>類別</label>
                <select name="category" class="form-control">
                    {% for i in category_items %}
                        <option value="{{i.key.urlsafe()}}"
                                {% if i.key == item.category_key %}selected{% endif %}>
                            {{i.description}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Date</label>
                <div class="form-group"
                     ng-class="{'has-error': !vm.date}">
                    <input type="datetime" name="date" class="form-control" date-time max-view="date" min-view="date" auto-close="true"
                           format="yyyy-MM-dd" ng-model="vm.date">
                </div>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input name="price" type="text" class="form-control" value="{{item.price}}">
            </div>
            <div class="form-group">
                <label>名稱</label>
                <input name="description" type="text" class="form-control" value="{{item.description}}">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>

    <div class="col-md-4"></div>
{% endblock %}
