{% extends "_base.html" %}

{% block angular_controller %}
<script type="text/javascript">
var moneydogApp = angular.module('moneydogApp', []);

moneydogApp.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('[[');
  $interpolateProvider.endSymbol(']]');
});

moneydogApp.filter('ignore_zero_by_count', function() {
  return function(list) {
    var new_list = Array();
    for(var i=0 ; i<list.length ; i++){
        if(list[i]['count']>0)
            new_list.push(list[i]);
    }
    return new_list;
  };
});

moneydogApp.filter('category_str', function() {
  return function(c_key, $scope) {
    for(var i=0 ; i < $scope.category.length ; ++i)
      if($scope.category[i].key == c_key)
        return $scope.category[i].desc;
  };
});

moneydogApp.filter('currency_tw', function($filter) {
  return function(amount){
    return $filter('currency')(amount, '', 0);
  };
});

moneydogApp.controller('Controller', function ($scope) {

  $scope.category = [
    {% for c in category_items %}
        {'key': '{{c.key.id()}}',
         'parent_key': '{% if c.parent_key %}{{c.parent_key.id()}}{% endif %}',
         'desc': '{{c.description}}',
         'count': 0,
        },
    {% endfor %}
  ];

  $scope.trade_items = [
    {% for item in items %}
        {'key': '{{item.key.id()}}',
         'key_urlsafe': '{{item.key.urlsafe()}}',
         'category_key': '{{item.category_key.id()}}',
         'price': {{item.price}},
         'date': '{{item.date}}',
         'desc': '{{item.description}}',
        },
    {% endfor %}
  ];

  $scope.analytics_trade = {};
  function analytics(cur_page, trade_items){
    for(var i=0 ; i<trade_items.length ; ++i){
        $scope.analytics_trade[cur_page]
    }
  }

  $scope.count_by_category = function(category) {
    category_key = category.key;
    var count = 0;
    var trade_items = $scope.trade_items;
    for(var i=0 ; i<trade_items.length ; ++i){
        if(trade_items[i].category_key == category_key)
            count += trade_items[i].price;
    }
    return count;
  };
  for(var i=0 ; i < $scope.category.length ; i++){
    var count = $scope.count_by_category($scope.category[i]);
    $scope.category[i]['count'] = count;
  }

});


moneydogApp.run( function($http){
  // Simple POST request example (passing data) :
  $http.post('/ajax/hello', {msg:'hello word!!!'}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        console.log('fuck success : '+data['result']);
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        console.log('fuck error');
      });
});
</script>
{% endblock %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% if is_basic_list %}
        <div class="center">
            <button type="button" class="btn-xs btn-default do_prev" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>

            <select name="year">
                {% for y in g.year_range %}
                    <option value="{{y}}" {% if year==y %}selected{% endif %}>{{y}}</option>
                {% endfor %}
            </select>
            /
            <select name="month">
                {% for m in range(1, 13) %}
                    <option value="{{m}}" {% if month==m %}selected{% endif %}>{{m}}</option>
                {% endfor %}
            </select>

            <button type="button" class="btn-xs btn-default do_next" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
      {% endif %}

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="item in trade_items">
                    <tr>
                        <td>[[item.date]]</td>
                        <td>[[item.category_key | category_str:this]]</td>
                        <td>[[item.price | currency_tw]]</td>
                        <td>[[item.desc]]</td>
                        <td>
                            <a href="/edit/trade/[[item.key_urlsafe]]">
                                <button type="button" class="btn-xs btn-default" aria-label="Left Align">
                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </a>
                            <button type="button" class="btn-xs btn-default remove_trade_btn"
                                    data-key="[[item.key_urlsafe]]" aria-label="Left Align">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th></th><th>Category</th><th>Total</th></tr>
            </thead>
            <tbody ng-repeat="c in category | ignore_zero_by_count | orderBy:'-count'">
                <tr>
                    <td>[[$index + 1]]</td>
                    <td>[[c.desc]]</td>
                    <td>[[count_by_category(c) | currency_tw]]</td>
                </tr>
            </tbody>
        </table>
    <div class="col-md-4"></div>
{% endblock %}

{% block js_area %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.do_next').click(function(){
            var y = {{year}};
            var m = {{month}} + 1;
            if(m>12){
                m = 1;
                y += 1;
            }
            window.location.href = '/list/trade/{{c_type}}?year=' + y + '&month=' + m;
        });
        $('.do_prev').click(function(){
            var y = {{year}};
            var m = {{month}} - 1;
            if(m<1){
                m = 12;
                y -= 1;
            }
            window.location.href = '/list/trade/{{c_type}}?year=' + y + '&month=' + m;
        });

        $('select[name="year"], select[name="month"]').change(function(){
            var y = $('select[name="year"]').val();
            var m = $('select[name="month"]').val();
            window.location.href = '/list/trade/{{c_type}}?year=' + y + '&month=' + m;
        });

        $('.remove_trade_btn').click(function(){
            var key_urlsafe = $(this).data('key');
            bootbox.confirm("Are you sure?", function(result) {
              if(result){
                window.location.href = "/remove/trade/"+key_urlsafe+"?year={{year}}&month={{month}}";
              }
            });
        });
    });
</script>
{% endblock %}

