{% extends "_base.html" %}
{% block content %}
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <table class="category-table table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in category_items %}
                    <tr>
                        <td>{{item.c_type | category2str}}</td>
                        <td>
                          <a href="/list/trade/by_category/{{item.key.urlsafe()}}">
                            {{item.description}}
                          </a>
                        </td>
                        <td>
                            <a href="/edit/category/{{item.key.urlsafe()}}">
                                <button type="button" class="btn-xs btn-default" aria-label="Left Align">
                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </a>
                            <button type="button" class="btn-xs btn-default remove_category_btn"
                                    data-key="{{item.key.urlsafe()}}" aria-label="Left Align">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4"></div>
{% endblock %}

{% block js_area %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.remove_category_btn').click(function(){
            var key_urlsafe = $(this).data('key');
            bootbox.confirm("Are you sure?", function(result) {
              if(result){
                window.location.href = "/remove/category/" + key_urlsafe;
              }
            });
        });
    });
</script>
{% endblock %}
