<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-TW" lang="zh-TW" dir="ltr">
<head>
    <title>日曆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="styles/calendar.css" />
	<script type="text/javascript" language="javascript" src="js/calendar.js"></script>
<script type="text/javascript" language="javascript">
//<![CDATA[
//var month_names = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
var month_names = new Array("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月");
var day_names = new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat");
var submit_text = "執行";
//]]>
</script>
</head>
<body onload="initCalendar();">
<div id="calendar_data"></div>
<div id="clock_data"></div>
</body>
</html>
