<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-TW" lang="zh-TW">
<head>

<title>MoneyDog - List</title>
<link type="text/css" rel="stylesheet" href="/styles/list.css" />
<script type="text/javascript" language="javascript" src="/js/calendar.js"></script>

<script type="text/javascript" language="javascript">
var type='{{type}}';

function Show( form )
{
    if( type=="category_in" )
		document.getElementById("add_category_in").style.display = "block";
	else if( type=="category_out" )
		document.getElementById("add_category_out").style.display = "block";
	else if( type=="in" ){
        document.getElementById("add_in").style.display = "block";
		//document.all("add_in").style.display = "block";
        //document.insertForm.add_in.style.display = "block";
    }
	else if( type=="out" )
		document.getElementById("add_out").style.display = "block";
}

function CheckDelete( path )
{
    var ans = confirm("你確定要刪除!?")
    if( ans==true )
        window.location = path;
}

function MouseOverItem(item)
{
    item.style.backgroundColor='#EEDC82';
}
function MouseOutItem(item)
{
    item.style.backgroundColor='';
}

/**
 * 使用者選擇Year or Month就自動跳頁
 */
function SelectList()
{
    year = document.getElementById("select_year").value;
    month= document.getElementById("select_month").value;
    address = "list?type={{type}}&year="+year+"&month="+month;
    location.href = address;
}


function CheckValue()
{
    item_price = document.getElementById("item_price");
    if( item_price != null ){
        var str_number = item_price.value;
        for( i=0 ; i<str_number.length ;i++)
            if( !(str_number.charAt(i)>='0' && str_number.charAt(i)<='9') ){
                alert('價格欄位請輸入正確的數字!');
                return;
            }
    }
    //OK
    document.insertForm.submit();
}
</script>

</head>
<body>
    
    <div id="top_bar">{{user}}<a href="logout">登出</a></div>
    
    
    <div id="money_dog_header">Money Dog</div>
    
    <!-- Search -->
	<form name="searchForm" method="get" action="search">
		<input type="hidden" name="type" value="{{type}}"/>
        
        <div id="search"  align="center">
            <input name="key_words" type="text" size="50"/><input type="submit" value="搜尋"/>
        </div>
        
    </form>

	<!--Menu-->
	<div id="menu">
		<a href="list?type=category_in">收入類別</a>
		<a href="list?type=category_out">支出類別</a>
		<a href="list?type=in">收入</a>
		<a href="list?type=out">支出</a>
	</div>
    
	
    
    {###### Insert Form ######}
	<form name="insertForm" method="get" action="list_add">
		<input type="hidden" name="do" value="list_add"/>
		<input type="hidden" name="type" value="{{type}}"/>

		<div style="text-align:center;"><input type="button" value="新增一筆資料" onclick="Show(this)"/></div>

        {% ifequal type "category_in" %}
    		<div id="add_category_in" class="add">
    			類別名稱 : <input type="text" name="item_caption"/><br/>
    			<input type="submit" value="ok"/>
    		</div>
        {% endifequal %}
        {% ifequal type "category_out" %}
    		<div id="add_category_out" class="add">
    			類別名稱 : <input type="text" name="item_caption"/><br/>
    			<input type="submit" value="ok"/>
    		</div>
        {% endifequal %}
        {% ifequal type "in" %}
    		<div id="add_in" class="add">
    			類別 : 
                <select name="item_category_id">
                    {% for item in category_in %}
                        <option value="{{item.key}}">{{ item.description }}</option>
                    {% endfor %}
    			</select>
    			<br/>
    			價格 : <input type="text" id="item_price" name="item_price"/><br/>
    			說明 : <input type="text" name="item_description"/><br/>
                日期 : <input type="text" id="item_date" name="item_date" value="{% now "Y-m-d" %}" size='10'/><a href="javascript:openCalendar('', 'insertForm', 'item_date', 'date')" rel="license"><img alt="選擇一個日期" style="border-width:0; text-align:center; vertical-align:center;" src="./img/calendar.png"/></a>
                <br/>
    			<input type="submit" value="OK"/>
    		</div>
        {% endifequal %}
        {% ifequal type "out" %}
    		<div id="add_out" class="add">
    			類別 : 
                <select name="item_category_id">
                    {% for item in category_out %}
                        <option value="{{item.key}}">{{ item.description }}</option>
                    {% endfor %}
    			</select>
    			<br/>
    			價格 : <input type="text" id="item_price" name="item_price"/><br/>
    			說明 : <input type="text" name="item_description"/><br/>
                日期 : <input type="text" id="item_date" name="item_date" value="{% now "Y-m-d" %}" size='10'/><a href="javascript:openCalendar('', 'insertForm', 'item_date', 'date')" rel="license"><img alt="選擇一個日期" style="border-width:0; text-align:center; vertical-align:center;" src="./img/calendar.png"/></a>
    			<br/>
    			<input type="Button" value="OK" onClick="CheckValue()"/>
    		</div>
        {% endifequal %}
	</form>
    
    
    
	<div id="item_list">
       
        {##### Item Data - Category #####}
        {% ifequal show_type "category" %}
		<table border='0' align='center'>
			<tr class='one_item_header'><th></th><th>分類名稱</th></tr>
            {% for item in items %}
                {% if forloop.counter|divisibleby:"2" %}
                 <tr class='one_item1' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                {%else%}
                 <tr class='one_item2' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                {%endif%}
                
                    <td >
                        <a href='list_edit?type={{type}}&amp;do=edit&amp;item_key={{item.key}}'><img alt='編輯' style='border-width:0;' src='./img/edit.png'/></a>
                        <a href='javascript:CheckDelete("list_delete?type={{type}}&amp;item_key={{item.key}}")'><img alt='刪除' style='border-width:0;' src='./img/delete.png'/></a>
                    </td>
                    <td class="item_category">
                        <a href="list?type=search_category&amp;category_key={{item.key}}">
                        {{item.description}}
                        </a>
                    </td>
                 </tr>
            {% endfor %}
        </table>
        {% endifequal %}

        <br/>
        
        {##### Item Data - TradeItem #####}
        {% ifequal show_type 'trade'%}
        <a href="list?type={{type}}&amp;year={{year_p}}&amp;month={{month_p}}">&lt;&lt;&lt;</a>
          <select id="select_year" onChange="SelectList()">
            {% for item in list_year %}
                {% ifequal item year %}
                    <option value="{{item}}" selected>{{item}}</option>
                {% endifequal %}
                {% ifnotequal item year %}
                    <option value="{{item}}">{{item}}</option>
                {% endifnotequal %}
            {% endfor %}
          </select>
          <select id="select_month" onChange="SelectList()">
            {% for item in list_month %}
                {% ifequal item month %}
                    <option value="{{item}}" selected>{{item}}</option>
                {% endifequal %}
                {% ifnotequal item month %}
                    <option value="{{item}}">{{item}}</option>
                {% endifnotequal %}
            {% endfor %}
          </select>
        <a href="list?type={{type}}&amp;year={{year_n}}&amp;month={{month_n}}">&gt;&gt;&gt;</a>
		<table border='0' align='center'>
            <tr class='one_item_header'><th></th><th>時間</th><th>價格</th><th>類別</th><th>說明</th></tr>
            {% for item in items %}
                {% ifequal item.date None %}
                   <tr class="blank_item"><td colspan="5"></td></tr>
                {% endifequal %}
                {% ifnotequal item.date None %}
                    {% if forloop.counter|divisibleby:"2" %}
                     <tr class='one_item1' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                    {%else%}
                     <tr class='one_item2' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                    {%endif%}
                        <td>
                            <a href='list_edit?type={{type}}&amp;do=edit&amp;item_key={{item.key}}'><img alt='編輯' style='border-width:0;' src='./img/edit.png'/></a>
                            <a href='javascript:CheckDelete("list_delete?type={{type}}&amp;item_key={{item.key}}")'><img  alt='刪除' style='border-width:0;' src='./img/delete.png'/></a>
                        </td>
                        <td class='item_time'>{{item.date}}</td>
                        <td class='item_price'>{{item.price}}</td>
                        <td class='item_category'>{{item.category}}</td>
                        <td class='item_description'>{{item.description}}</td>
                    </tr>
                {% endifnotequal %}
            {% endfor %}
            <!-- New Version Support
            <tr class="blank_item"><td colspan="5"></td></tr>
            -->
        </table>
        {% endifequal %}
        
        
        {##### Item Data - Search Result #####}
        {% ifequal show_type 'search_result'%}
		<table border='0' align='center'>
            <tr class='one_item_header'><th></th><th>時間</th><th>輸入/支出</th><th>價格</th><th>類別</th><th>說明</th></tr>
            {% for item in items %}
                {% ifequal item.date None %}
                   <tr class="blank_item"><td colspan="5"></td></tr>
                {% endifequal %}
                {% ifnotequal item.date None %}
                    {% if forloop.counter|divisibleby:"2" %}
                     <tr class='one_item1' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                    {%else%}
                     <tr class='one_item2' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                    {%endif%}
                        <td>
                            <a href='list_edit?type={{item.type}}&amp;do=edit&amp;item_key={{item.key}}'><img alt='編輯' style='border-width:0;' src='./img/edit.png'/></a>
                            <a href='javascript:CheckDelete("list_delete?type={{item.type}}&amp;item_key={{item.key}}")'><img  alt='刪除' style='border-width:0;' src='./img/delete.png'/></a>
                        </td>
                        <td class='item_time'>{{item.date}}</td>
                        <td class='in_or_out'>{{item.in_or_out}}</td>
                        <td class='item_price'>{{item.price}}</td>
                        <td class='item_category'>{{item.category}}</td>
                        <td class='item_description'>{{item.description}}</td>
                    </tr>
                {% endifnotequal %}
            {% endfor %}
        </table>
        {% endifequal %}
        
    </div>
    
    {% ifequal show_type 'trade'%}
    <div id="analytics">
		<table border='0' align='center'>
            <tr class='one_item_header'><th>統計</th><th>數值</th></tr>
            
            <tr class='one_item1'>
                <td class="analytics_type">總值</td>
                <td class="analytics_value">{{msg.price_total}}</td>
            </tr>
            <tr class='one_item1'>
                <td class="analytics_type">最大值</td>
                <td class="analytics_value">{{msg.price_max}}</td>
            </tr>
            
        </table>
        
		<table border='0' align='center'>
            <tr class='one_item_header'><th>排名</th><th>類別</th><th>總計</th></tr>
            
            {% for item in stat %}
            <tr class='one_item1' onMouseOver="MouseOverItem(this)" onMouseOut="MouseOutItem(this)">
                <td class="stat_index">{{item.index}}</td>
                <td class="stat_category">{{item.category}}</td>
                <td class="stat_price">{{item.price}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endifequal %}
    
</body>
</html>


