<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-TW" lang="zh-TW">
<head>

<title>MoneyDog - List</title>
<link type="text/css" rel="stylesheet" href="css/list.css" />
<link type="text/css" rel="stylesheet" href="css/jquery-ui-1.7.2.custom.css"/>
<link type="text/css" rel="stylesheet" href="css/jquery-tablesorter.css"/>

<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="js/jquery-alternate.js"></script>
<script type="text/javascript" src="js/event.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/addDialog.js"></script>
<script type="text/javascript" src="js/analytics.js"></script>
<script type="text/javascript">
    $(function(){
        $('#item_date').datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>
<script type="text/javascript" language="javascript">
    var type='{{type}}';

//Const
var QUERY_SEP      = '$#';
var QUERY_SEP_LINE = '$\n';

var QUERY_TYPE_OUT = 'out';
var QUERY_TYPE_IN  = 'in';
var QUERY_TYPE_CATEGORY_OUT = 'category_out';
var QUERY_TYPE_CATEGORY_IN  = 'category_in';
var QUERY_TYPE_SEARCH       = 'search';

var MAX_ADD_NUM = 10;
var g_query_type = QUERY_TYPE_OUT;
var g_category = new Array();
var g_eventMgr = new CEventMgr();

//Class
function CCategory(key, description)
{
    this.key = key;
    this.description = description;
}

//Global function
function IsBrowseTrade()
{
    if(g_query_type==QUERY_TYPE_OUT || g_query_type==QUERY_TYPE_IN)
        return true;
    return false;
}
function IsBrowseCategory()
{
    if(g_query_type==QUERY_TYPE_CATEGORY_OUT || g_query_type==QUERY_TYPE_CATEGORY_IN)
        return true;
    return false;
}

function AssignCategory2Select( select )
{
    select.children().remove();
    for(var i =0 ; i < g_category.length ; i++ ){
        var s = '<option value="'+g_category[i].key+'">'+g_category[i].description+'</option>';
        select.append(s);
    }
}

$(function() {
    
    
    
    // Parameter initial...
    $('img').css('border-width', 0);
    $('#ui-datepicker-div').css('z-index', 2000);
    $('.applyLinkCursor').css('cursor', 'pointer');
    $('#category_table').hide();
    QueryData_Category();
    QueryUserName();
    
    // Component initial ...
    var m_analytics = new CAnalytics();
    var m_addDialog = new CAddDialog();
    
    // Bind event ...
    g_eventMgr.bind('Refresh Page', RefreshPage);
    
    $("#query_out").click( function(){
        $('#trade_list').show();
        $('#category_table').hide();
        m_analytics.Show();
        g_query_type = QUERY_TYPE_OUT;
        QueryData_Trade();
        QueryData_Category();
    });
    $("#query_in").click(function() {
        $('#trade_list').show();
        $('#category_table').hide();
        m_analytics.Show();
        g_query_type = QUERY_TYPE_IN;
        QueryData_Trade();
        QueryData_Category();
    });
    $("#query_category_out").click( function(){
        $('#trade_list').hide();
        $('#category_table').show();
        m_analytics.Hide();
        g_query_type = QUERY_TYPE_CATEGORY_OUT;
        QueryData_Category();
    });
    $("#query_category_in").click(function() {
        $('#trade_list').hide();
        $('#category_table').show();
        m_analytics.Hide();
        g_query_type = QUERY_TYPE_CATEGORY_IN;
        QueryData_Category();
    });
    
    $("#img_add").click( function(){
        $("#dialog_add").dialog('open');
        $('#add_progressbar').progressbar({value: 0});
        $('#add_progressbar').css('display', 'none');
        m_addDialog.RemoveAll();
        if( IsBrowseTrade() )
            $('#add_table thead').append( $("#add_example thead").html() );
        else
            $('#add_table thead').append( $("#add_category_example thead").html() );
            
        m_addDialog.onAddInsertFieldClick();
    });
    
    //Search
    $('#search_btn').click( Search );
    $('#search_key_words').keyup( function(event){
        if( event.keyCode=='13' ) //Enter
            Search();
    });
    
    Init_Dialog();
    Init_MessageBox();
    CreateSelectDate();
    $("#img_arrow_previous").click( function(){
        var y = parseInt( $("#select_year").val() );
        var m = parseInt( $("#select_month").val() );
        m -= 1;
        if( m==0 ){ y-=1; m=12; }
        AssignSelectDate(y,m);
        QueryData_Trade();
    });
    $("#img_arrow_next").click( function(){
        var y = parseInt( $("#select_year").val() );
        var m = parseInt( $("#select_month").val() );
        m = parseInt(m);
        m += 1;
        if( m==13 ){ y+=1; m=1; }
        AssignSelectDate(y,m);
        QueryData_Trade();
    });
    g_query_type = QUERY_TYPE_OUT;
    QueryData_Trade();
    
    
    function Init_Dialog(){
        
        $('#dialog_delete').dialog({
            autoOpen: false,
            bgiframe: true,
            resizable: false,
            height:160,
            modal: true,
            overlay: {
                backgroundColor: '#000',
                opacity: 0.5
            },
            buttons: {
                'Delete': onDeleteDialog_DeleteClick,
                Cancel: onDeleteDialog_CancelClick
            }
        });
        $("#dialog_edit_trade").dialog({
            bgiframe: true,
            autoOpen: false,
            height: 300,
            width:  400,
            modal: true,
            buttons: {
                'OK': function() {
                    $(this).dialog('close');
                    ShowLoader();
                    var cmd = $('#form_edit_trade').serialize();
                    cmd = "list_edit?type="+g_query_type+"&do=aj&"+cmd;
                    $.get( cmd, function callback(html){
                                    RefreshPage();
                                    HideLoader();
                                });
                },
                Cancel: function() {
                    $(this).dialog('close');
                }
            },
            close: function(event, ui) {
                $('#ui-datepicker-div').hide()
            }
        });
            
        $("#dialog_edit_category").dialog({
            bgiframe: true,
            autoOpen: false,
            height: 300,
            width:  400,
            modal: true,
            buttons: {
                'OK': function() {
                    $(this).dialog('close');
                    ShowLoader();
                    var cmd = $('#form_edit_category').serialize();
                    cmd = "list_edit?type="+g_query_type+"&do=aj&"+cmd;
                    $.get( cmd, function callback(html){
                                    RefreshPage();
                                    HideLoader();
                                });
                },
                Cancel: function() {
                    $(this).dialog('close');
                }
            },
            close: function(event, ui) {
                $('#ui-datepicker-div').hide()
            }
        });
        
    }
    
    function QueryUserName(){
        cmd = "query?type=user_name";
        $.get( cmd, function callback(html){
                $('#user_name').text(html)
                    });    
    }
    
    function Get_CategoryKey(desc){
        for( var i=0 ; i < g_category.length ; i++ ){
            if( g_category[i].description == desc )
                return g_category[i].key;
        }
        return '';
    }
    function QueryData_Category(){
        var type = g_query_type;
        if( g_query_type == QUERY_TYPE_OUT || g_query_type == QUERY_TYPE_IN )
            type = "category_" + g_query_type;
        $.get("query?type="+type, QueryDataResult_Category);
        ShowLoader();
    }
    function QueryDataResult_Category(html){
        delete g_category;
        g_category = new Array();
        data = html.split( QUERY_SEP_LINE );
        for( var i=0 ; i < data.length ; i++ )
        {
            if( data[i]=='' ) continue;
            _data = data[i].split( QUERY_SEP );
            if( _data.length < 2 ) continue;
            g_category[i] = new CCategory( _data[0], _data[1] );
        }
        
        AssignCategory2Select( $('#edit_category') );
        AssignCategory2Table();
        HideLoader();
    }
    
    function QueryData_Trade() {
        //alert('QueryData_Trade');
        var y = $("#select_year").val();
        var m = $("#select_month").val();
        $.get("query?type="+g_query_type+"&year="+y+"&month="+m, QueryDataResult_Trade);
        ShowLoader();
        return false;
    }
    function QueryDataResult_Trade(html) {
        //alert('QueryDataResult_Trade');
        //Reset the #list_table
        $("#list_table tbody tr").remove();
        
        data = html.split( QUERY_SEP_LINE );
        for( var i=0 ; i < data.length ; i++ )
        {
            item = data[i].split( QUERY_SEP );
            AppendTradeData(item);
        }
        AssignCss_ListTableAllTrade();
        HideLoader();
        m_analytics.Refresh();
    }
    
    function Search(){
        var key_words = $('#search_key_words').val();
        $.get("search?key_words="+key_words, Search_Result);
        ShowLoader();
    }
    function Search_Result(html){
        $("#list_table tbody tr").remove();
        
        data = html.split( QUERY_SEP_LINE );
        for( var i=0 ; i < data.length ; i++ )
        {
            item = data[i].split( QUERY_SEP );
            AppendTradeData(item.slice(1));//remove first element 'type'
        }
        AssignCss_ListTableAllTrade();
        HideLoader();
        m_analytics.Refresh();
    }
    
    function CreateSelectDate(){
        var curDate = new Date();
        var curY = curDate.getFullYear();
        var curM = curDate.getMonth()+1;//0~11
        for( var y=curY-3 ; y<curY+3 ; y++ )
            $("#select_year").append( "<option value='"+y+"'>"+y+"</option>" );
        for( var m=1 ; m<=12 ; m++ )
            $("#select_month").append( "<option value='"+m+"'>"+m+"</option>" );
        
        AssignSelectDate(curY, curM);
        
        $("#select_year").bind('change', function(e){
            //alert("change:" + $("#select_year").val() );
            QueryData_Trade();
        })
        $("#select_month").bind('change', function(e){
            //alert("change:" + $("#select_month").val() );
            QueryData_Trade();
        })
    }
    
    function onDeleteDialog_DeleteClick(){
        $(this).dialog('close');
        var key = $('#delete_key').val();
        cmd = "list_delete?type="+g_query_type+"&item_key="+key;
        $.get( cmd, function callback(html){
                        
                    });
        $('#list_table tr[key='+ key +']').remove();
        $('#category_table tr[key='+ key +']').remove();
        m_analytics.Refresh();
    }
    function onDeleteDialog_CancelClick(){
        $(this).dialog('close');
    }

    function ShowLoader(){
        $('#imgLoader').show();
    }
    function HideLoader(){
        $('#imgLoader').hide();
    }
    
    function RefreshPage(){
        if( IsBrowseTrade() )
            QueryData_Trade();
        else if( IsBrowseCategory() )
            QueryData_Category();
    }
    
    function AssignCategory2Table(){
        $("#category_table tbody tr").remove();
        for(var i =0 ; i < g_category.length ; i++ ){
            var key  = g_category[i].key;
            var desc = g_category[i].description;
            new_html = '<tr key="'+key+'" description="'+desc+'">'
                         +'<td></td> <td>'+desc+'</td>'
                         +'</tr>';
            $("#category_table tbody").append(new_html);
            
            $("#category_table tbody tr[key="+key+"] td:eq(0)").append("<img class='img_edit_category'   key='"+key+"' alt='編輯' src='./img/edit.png'/>");
            $("#category_table tbody tr[key="+key+"] td:eq(0)").append("<img class='img_delete' key='"+key+"' alt='刪除' src='./img/delete.png'/>");
        }
        AssignCss_CategoryTable();
    }
    function AssignSelectDate(y,m){
        $("#select_year  option[value="+y+"]").attr('selected', true);
        $("#select_month option[value="+m+"]").attr('selected', true);
    }
    function AssignEditTradeForm(){
        $(".img_edit_trade").click( function(){
            var tr = $(this).parent().parent();
            $('#dialog_edit_trade').dialog('open');
            $('#edit_key').val(   tr.attr('key')   );
            $('#edit_price').val( tr.attr('price') );
            $('#edit_time').val(  tr.attr('time')  );
            $('#edit_description').val(  tr.attr('description') );
            $("#edit_category option[value="+Get_CategoryKey(tr.attr('category'))+"]").attr('selected', true);
            
            $('#edit_time').datepicker({ dateFormat: 'yy-mm-dd' });
        });
        $('.img_edit_trade').css('cursor', 'pointer');
    }
    function AssignEditCategoryForm(){
        $(".img_edit_category").click( function(){
            var tr = $(this).parent().parent();
            $('#dialog_edit_category').dialog('open');
            $('#edit_cate_key').val( tr.attr('key') );
            $('#edit_cate_description').val( tr.attr('description') );
        });
        $('.img_edit_category').css('cursor', 'pointer');
    }
    function AssignDeleteForm(){
        $(".img_delete").click( function(){
            var tr = $(this).parent().parent();
            $('#delete_key').val( tr.attr('key') );
            
            $('#dialog_delete').dialog('open');
        });
        $('.img_delete').css('cursor', 'pointer');
    }
    function AppendTradeData(data){
        if( data.length < 5 ) return;
        var time  = data[0];
        var price = data[1];
        var cate  = data[2];
        var desc  = data[3];
        var key   = data[4];
        new_html = '<tr time="'+time+'" price="'+price+'" category="'+cate+'" description="'+desc+'" key="'+key+'" >'
                     +'<td></td> <td>'+time+'</td> <td>'+IntAddComma(price)+'</td> <td>'+cate+'</td> <td>'+desc+'</td>'
                     +'</tr>'
        $("#list_table tbody").append(new_html);
        
        $("#list_table tbody tr[key="+key+"] td:eq(0)").append("<img class='img_edit_trade'   key='"+key+"' alt='編輯' src='./img/edit.png'/>");
        $("#list_table tbody tr[key="+key+"] td:eq(0)").append("<img class='img_delete' key='"+key+"' alt='刪除' src='./img/delete.png'/>");
        //AssignCss_ListTableTrade(key);
    }
    
    function AssignCss_ListTableTrade(key){
        $("#list_table tbody tr[key="+key+"] td:eq(1)").addClass('ListTableTH_time');
        $("#list_table tbody tr[key="+key+"] td:eq(2)").addClass('ListTableTH_price');
        $("#list_table tbody tr[key="+key+"] td:eq(3)").addClass('ListTableTH_category');
        $("#list_table tbody tr[key="+key+"] td:eq(4)").addClass('ListTableTH_description');
    }
    function AssignCss_ListTableAllTrade(){
        $('#list_table tbody tr').alternate({odd:'ListTableTH_odd', even:'ListTableTH_even', hover:'ListTableTH_hover'});
        $("#list_table thead tr").addClass('ListTableTH_header');
        $("#list_table tbody tr").each( function(i){
            $(this).children().eq(1).addClass('ListTableTH_time');
            $(this).children().eq(2).addClass('ListTableTH_price');
            $(this).children().eq(3).addClass('ListTableTH_category');
            $(this).children().eq(4).addClass('ListTableTH_description');
        });
        AssignDeleteForm();
        AssignEditTradeForm();
    }
    function AssignCss_CategoryTable(){
        $('#category_table tbody tr').alternate({odd:'ListTableTH_odd', even:'ListTableTH_even', hover:'ListTableTH_hover'});
        $("#category_table thead tr").addClass('ListTableTH_header');
        $("#category_table tbody tr").each( function(i){
            $(this).children().eq(1).addClass('ListTableTH_category');
        });
        AssignDeleteForm();
        AssignEditCategoryForm();
    }
    
});
</script>

</head>
<body>
    <div id="top_bar">
        <a href='https://appengine.google.com/deployment?app_id=moneydog-tw'>MoneyDog project page</a> | 
        <div id='user_name'></div> <a href="logout">登出</a> |
    </div>
    
    
    <div id="money_dog_header">Money Dog</div>
    
    <!-- Search -->
    <div name="searchForm">
        <div id="search"  align="center">
            <input id="search_key_words" type="text" size="50"/><input id='search_btn' type="button" value="搜尋"/>
        </div>
    </div>

    <!--Menu-->
    <div id="menu">
        <div id='query_category_out' class='MenuBrowseType applyLinkCursor'>支出類別</div>
        <div id='query_category_in'  class='MenuBrowseType applyLinkCursor'>收入類別</div>
        <div id='query_out' class='MenuBrowseType applyLinkCursor'>支出</div>
        <div id='query_in'  class='MenuBrowseType applyLinkCursor'>收入</div>
    </div>
    <div id='add_input_btn'> 新增資料 <img id='img_add' class='applyLinkCursor' alt='Add' src='./img/add.png'/></div>
    
    <!-- Trad List -->
    <div id="trade_list">
        <div id='m_select_month'>
            <img id='img_arrow_previous' class='applyLinkCursor' alt='Previous' src='./img/previous.png'/>
              <select id="select_year"></select>
              <select id="select_month"></select>
            <img id='img_arrow_next' class='applyLinkCursor' alt='Next' src='./img/next.png'/>
        </div>
        
        <table id='list_table' border='0' align='center'>
            <thead> 
                <tr>
                    <th></th><th>時間</th><th>價格</th><th>類別</th><th>說明</th>
                </tr>
            </thead>
            
            <tbody></tbody>
        </table>
    </div>
    
    <!-- Category List -->
    <div id="category_list">
        <table id='category_table' border='0' align='center'>
            <thead> 
                <tr>
                    <th></th><th>類別</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
    <!-- Analytics List -->
    <div id="analytics_list">
        <table id='analytics_sum_table' border='0' align='center'>
            <thead> 
                <tr>
                    <th>統計</th><th>數值</th>
                </tr>
            </thead>
            
            <tbody></tbody>
        </table>

        <table id='analytics_table' border='0' align='center'>
            <thead> 
                <tr>
                    <th>排名</th><th>類別</th><th>總計</th>
                </tr>
            </thead>
            
            <tbody></tbody>
        </table>
    </div>
    
    <!--Loader-->
    <div id='imgLoader'>
        <img id='_imgLoader' src='./img/loader.gif'/>
    </div>
    
    <!-- Dialog Edit Trade -->
    <div id='dialog_edit_trade' title='Edit Trade'>
        <form id='form_edit_trade'>
            <fieldset>
                <input type="hidden"      id="edit_key"         name='edit_key'/>
                類別 : <select            id='edit_category'    name='edit_category'></select> <br/>
                價格 : <input type="text" id="edit_price"       name="edit_price"          class="text ui-widget-content ui-corner-all" /> <br/>
                說明 : <input type="text" id="edit_description" name="edit_description"    class="text ui-widget-content ui-corner-all" /> <br/>
                日期 : <input type="text" id="edit_time"        name="edit_time" size='10' class="text ui-widget-content ui-corner-all" /> <br/>
            </fieldset>
        </form>
    </div>
    
    <!-- Dialog Edit Category -->
    <div id='dialog_edit_category' title='Edit Category'>
        <form id='form_edit_category'>
            <fieldset>
                <input type="hidden"      id="edit_cate_key"         name='edit_key'/>
                說明 : <input type="text" id="edit_cate_description" name="edit_description"    class="text ui-widget-content ui-corner-all" /> <br/>
            </fieldset>
        </form>
    </div>
    
    <div id='dialog_delete' title='Warning!'>
        <input type="hidden" id="delete_key" name='delete_key'/>
        確定要刪除!?
    </div>
    
    <div id="dialog_add" title='Add' width='800' align='center'>
        <!-- Example -->
        <table id='add_example' style='display:none'>
            <thead>
                <tr>
                    <th>類別</th><th>價格</th><th>說明</th><th>時間</th>
                </tr>
            </thead>
            <tbody>
                <tr id='add_example_tr'>
                    <td><select            class='add_category'></select></td>
                    <td><input type="text" class="add_price"         /></td>
                    <td><input type="text" class="add_description"   /></td>
                    <td><input type="text" class="add_time" size='10'/></td>
                    <td><img class="remove_add_filed applyLinkCursor" alt='Remove This Filed' src='./img/delete.png'></td>
                    <td class="add_warning" style='display:none'></td>
                </tr>
            </tbody>
        </table>
        <table id='add_category_example' style='display:none'>
            <thead>
                <tr>
                    <th>說明</th>
                </tr>
            </thead>
            <tbody>
                <tr id='add_category_example_tr'>
                    <td><input type="text" class="add_description" /></td>
                    <td><img class="remove_add_filed applyLinkCursor" alt='Remove This Filed' src='./img/delete.png'></td>
                </tr>
            </tbody>
        </table>
        
        <div id='add_input_field'> Add Input <img class='applyLinkCursor' alt='Add' src='./img/add.png'/></div>
        <form id="form_add">
                <table id='add_table'>
                    <thead>
                        <tr>
                            <th>類別</th><th>價格</th><th>說明</th><th>時間</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    </tbody>
                </table>
        </form>
        <div id="add_progressbar"></div>
    </div>
    
</body>
</html>


