<html>
<head><title>MoneyDog - List Edit</title>
<link type="text/css" rel="stylesheet" href="css/list.css" />
<script type="text/javascript" language="javascript" src="js/calendar.js"></script>
<script language="javascript">
var type="{$type}";
</script>

</head>
<body>
    <div align=center style="padding-top:50px">
	<form name="insertForm" method="get" action="list_edit">
		<input type="hidden" name="do" value="result"/>
		<input type="hidden" name="type" value="{{type}}"/>
        <input type="hidden" name="item_key" value="{{item.key}}"/>
        {% ifequal type "category_in" %}
    		<div id="add_category_in" class="edit">
    			類別名稱 : <input type="text" name="item_description" value="{{item.description}}"/><br/>
    			<input type="submit" value="ok"/>
    		</div>
        {% endifequal %}
        {% ifequal type "category_out" %}
    		<div id="add_category_out" class="edit">
    			類別名稱 : <input type="text" name="item_description" value="{{item.description}}"/><br/>
    			<input type="submit" value="ok"/>
    		</div>
        {% endifequal %}
		{% ifequal type "in" %}
    		<div id="add_in" class="edit">
    			類別 : 
                <select name="item_category_id">
                    {% for c_item in category_in %}
                        {% ifequal item.category.key  c_item.key %}
                            <option value="{{c_item.key}}" selected>{{ c_item.description }}</option>
                        {% endifequal %}
                        {% ifnotequal item.category.key  c_item.key %}
                            <option value="{{c_item.key}}">{{ c_item.description }}</option>
                        {% endifnotequal %}
                    {% endfor %}
    			</select>
    			<br/>
    			價格 : <input type="text" name="item_price"       value="{{item.price}}"/><br/>
    			說明 : <input type="text" name="item_description" value="{{item.description}}"/><br/>
                日期 : <input type="text" name="item_date"        value="{{item.date}}" size='10'/><a href="javascript:openCalendar('', 'insertForm', 'item_date', 'date')" rel="license"><img alt="選擇一個日期" style="border-width:0; text-align:center; vertical-align:center;" src="./img/calendar.png"/></a>
                <br/>
    			<input type="submit" value="OK"/>
    		</div>
        {% endifequal %}
		{% ifequal type "out" %}
    		<div id="add_out" class="edit">
    			類別 : 
                <select name="item_category_id">
                    {% for c_item in category_out %}
                        {% ifequal item.category.key  c_item.key %}
                            <option value="{{c_item.key}}" selected>{{ c_item.description }}</option>
                        {% endifequal %}
                        {% ifnotequal item.category.key  c_item.key %}
                            <option value="{{c_item.key}}">{{ c_item.description }}</option>
                        {% endifnotequal %}
                    {% endfor %}
    			</select>
    			<br/>
    			價格 : <input type="text" name="item_price"       value="{{item.price}}"/><br/>
    			說明 : <input type="text" name="item_description" value="{{item.description}}"/><br/>
                日期 : <input type="text" name="item_date"        value="{{item.date}}" size='10'/><a href="javascript:openCalendar('', 'insertForm', 'item_date', 'date')" rel="license"><img alt="選擇一個日期" style="border-width:0; text-align:center; vertical-align:center;" src="./img/calendar.png"/></a>
    			<br/>
    			<input type="submit" value="OK"/>
    		</div>
        {% endifequal %}
	</form>
    </div>
</body>
</html>
